
.note-display {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 5em;
    text-shadow: 2px 1px 0px #0004;
}

.controls-and-noteview-container {
    display: flex;
    margin-left: 2em;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}